<div class="c5bsm cofmt crgu2 crxw9 cnzqg">
    <div class="c3sbg cfhw0 c8zpm ctj5y c5uxf">
      <!-- Site header -->
      <header class="csiag cniyg ckmvo">
        <div class="cotbe cyf6z cqsr5 cweql">
          <div class="c3wfj cg15g cgiwh c5uxf cnmwy">
            <!-- Site branding -->
            <div class="c9d2g c0jvr">
              <!-- Logo -->
              <a class="group csx82" [routerLink]="['/']" aria-label="UDPT">
                <img
                  src="../../../../assets/images/logo.svg"
                  width="32"
                  height="32"
                  alt="Community"
                />
              </a>
            </div>
  
            <nav class="c5uxf cc9uf">
              <div class="cg15g ckout cdfxl c5uxf cc9uf">
                <div class="cmkbe cmnuk">
                  Already a member?
                  <a class="ciojy cejt1 cpefv c6bh0 cnsvb ctlm4" [routerLink]="['/auth/login']"
                    >Sign in</a
                  >
                </div>
              </div>
            </nav>
          </div>
        </div>
      </header>
  
      <main class="cc9uf">
        <section class="c0uko">
          <!-- Illustration -->
          <div class="cqngb cjugn cvw7r csiag c3sr8" aria-hidden="true">
            <img
              src="../../../../assets/images/hero-illustration.svg"
              class="clnw9"
              width="1905"
              height="622"
              alt="Hero Illustration"
            />
          </div>
  
          <div class="cotbe c0uko cyf6z cqsr5 cweql">
            <div class="crc1c c84if cs41y c704m">
              <!-- Page header -->
              <div class="c8m8l ckrdo cqsr5">
                <h1 class="cxw9w cjvhn cwnb8 cr2cv cean8 ccbgj c7e14 cs41y ckq6n">
                  Field your info and proceed signup
                </h1>
              </div>
  
              <!-- Form -->
              <div class="cmo1y cqsr5">
                <form>
                  <div class="csxgm">
                    <div>
                        <label class="cmwys" for="name">Name</label>
                        <input
                          id="name"
                          class="cesz6 cmnuk cniyg"
                          type="text"
                          placeholder="Your name"
                          required=""
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="nameValue"
                        />
                      </div>
                    <div>
                      <label class="cmwys" for="email">Email</label>
                      <input
                        id="email"
                        class="cesz6 cmnuk cniyg"
                        type="email"
                        placeholder="Your email"
                        required=""
                        [ngModelOptions]="{ standalone: true }"
                       [(ngModel)]="emailValue" 
                      />

                    </div>
                    <div>
                      <label class="cmwys" for="password">Password</label>
                      <input
                        id="password"
                        class="cesz6 cmnuk cniyg"
                        type="password"
                        placeholder="Your password"
                        autocomplete="on"
                        required=""
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="passwordValue"
                      />
                    </div>
                  </div>
                  <div class="cbi0w">
                    <button class="cfs3l ck65l ce60u cp4mw cniyg" (click)="onClickSignUp()">Sign Up</button>
                  </div>
                </form>
  
                <!-- Divider -->
                <div class="cg15g c8amx c5uxf">
                  <div class="chdu3 cyca1 c5q4u cc9uf" aria-hidden="true"></div>
                  <div class="cgm02 ccc0n coq3d">Or</div>
                  <div class="chdu3 cyca1 cw89k cc9uf" aria-hidden="true"></div>
                </div>
  
                <!-- Social login -->
                <button
                  class="cbyji chpwp cxw9w cf3ch cvinr c37ex cejt1 c0oy9 c0uko cp4mw cniyg cgvj8 c5uxf cympu"
                >
                  <div class="cg15g cinls c5uxf">
                    <svg
                      class="cu5ik c9d2g c3kg4 cswg6"
                      viewBox="0 0 16 16"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15.679 6.545H8.043v3.273h4.328c-.692 2.182-2.401 2.91-4.363 2.91a4.727 4.727 0 1 1 3.035-8.347l2.378-2.265A8 8 0 1 0 8.008 16c4.41 0 8.4-2.909 7.67-9.455Z"
                      ></path>
                    </svg>
                  </div>
                  <span class="ckkn2 cat6u">Sign In With Google</span>
                </button>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
  