<ng-container>
  <div class="info" style="padding: 10px">
    <div class="avatar">
      <label for="">Ảnh đại diện</label>
      <div class="avatar">
        <div class="w-24 rounded">
          <img src="../../../../assets/images/avatar-03.jpg" />
        </div>
      </div>
    </div>

    <div class="name">{{ this.user.name }}</div>
    <div class="email">{{ this.user.email }}</div>
    <div class="gender">{{ this.user.gender }}</div>
    <div class="birthday">{{ this.user.date_of_birth }}</div>
    <div class="role">{{ this.user.role }}</div>
  </div>
</ng-container>
