<ng-container *ngIf="user.user_id">
  <div class="container flex flex-col" style="padding: 10px">
    <div class="flex flex-col mb-2.5">
      <label for="" class="h1">Ảnh đại diện</label>
      <!-- [lstIDs]="lstUserIDs" -->
      <app-avatars
        *ngIf="lstUserIDs || user.user_id"
        [lstUsers]="[user]"
        [width]="12"
        [showMax]="2"
        [showName]="false"
        [showAddress]="false"
      >
      </app-avatars>
    </div>
    <form
      [formGroup]="formGroup"
      class="info flex flex-col space-y-2"
      *ngIf="formGroup"
    >
      <label for="name"> Name </label>
      <input formControlName="name" id="name" type="text" />

      <label for="email">Email</label>
      <input formControlName="email" id="email" type="text" />

      <label for="gender">Gender</label>
      <input id="gender" formControlName="gender" type="checkbox" />

      <label for="date_of_birth">Birthday</label>
      <input
        id="date_of_birth"
        type="date"
        [valueAsDate]="this.user.date_of_birth"
        (change)="changeBDay($event?.target)"
      />
      <label for="role">Role</label>
      <input formControlName="role" id="role" type="text" />
      <label for="address">Address</label>
      <input formControlName="address" id="address" type="text" />
      <label for="about">About</label>
      <input type="text" [innerHTML]="this.user.about" />
    </form>

    <button class="btn btn-accent mt-5" (click)="updateInfo()">
      Cập nhật thông tin
    </button>
  </div>
</ng-container>
