<div>
  <div class="mb-2">
    <h1 class="text-4xl">Tag</h1>
    <p>
      A tag is a keyword or label that categorizes your question with other,
      similar questions. Using the right tags makes it easier for others to find
      and answer your question.
    </p>
  </div>

  <div class="mb-2">
    <div class="flex justify-between items-center">
      <form data-svelte-search="">
        <label
          id="typeahead-0.5nrvu64oqo-label"
          for="typeahead-0.5nrvu64oqo"
          class="svelte-wqugyy hidden"
          >Search</label
        >
        <input
          name="search"
          type="search"
          placeholder="Search…"
          autocomplete="off"
          spellcheck="false"
          id="typeahead-0.5nrvu64oqo"
          aria-autocomplete="list"
          aria-controls="typeahead-0.5nrvu64oqo-listbox"
          aria-labelledby="typeahead-0.5nrvu64oqo-label"
          class="svelte-wqugyy"
        />
      </form>
      <div class="join">
        <button class="btn join-item">Popular</button>
        <button class="btn join-item">Name</button>
        <button class="btn join-item">New</button>
      </div>
    </div>
  </div>
  <!-- Posts -->
  <div class="cpg3l">
    <!-- List container -->
    <div class="cjfii c5uxf ctj5y c8gep">
      <div class="grid grid-cols-2 gap-4">
        <div *ngFor="let tag of tags" class="card w-75 bg-base-100 shadow-xl">
          <div class="card-body">
            <div class="badge badge-secondary">{{ tag.name }}</div>
            <p>
              {{ tag.description }}
            </p>
            <div class="card-actions justify-between">
              <div class="text-sm">2156250 questions</div>
              <div class="text-sm">220 asked today</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Show more -->
    <div class="cmm7i">
      <button
        class="cp4mw cp6g0 cgvj8 cvinr cxw9w chpwp cf3ch c37ex czu8g cejt1 cbyji"
      >
        Show More <span class="c1rkt clvx8">-&gt;</span>
      </button>
    </div>
  </div>
</div>
