/* Toast message css  */
#toast{
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 5;
}

.toast-custome{
    display: flex;
    align-items: center;
    margin-top: 24px;
    background-color: white;
    border-radius: 4px;
    min-width: 300px;
    max-width: 430px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    transition: all linear 0.3s;
}

@keyframes toastSlideIn{
    from{
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}

.toast__close,
.toast__icon{
    padding: 0 16px;
}

.toast__icon{
    font-size: 2.4rem;
    cursor: pointer;
}

.toast__body{
    flex-grow: 1;
}

.toast__title{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding: 0;
    margin: 6px 0 2px 0;
}

.toast__msg{
    font-size: 16px;
    margin-top: 0px;
    line-height: 16px;
    color: black;
    margin-bottom: 12px;
}

.toast__close{
    font-size: 18px;
    color: rgba(0,0,0,0.3);
}

.toast__close:hover{
    cursor: pointer;
    opacity: 0.8;
}

.toast--success{
    border-color: green;
}

.toast--success .toast__icon{
    color: green;
}

.toast--info{
    border-color: blue;
}

.toast--info .toast__icon{
    color: blue;
    
}

.toast--error{
    border-color: red;
}

.toast--error .toast__icon{
    color: red;
    
}

.toast--warning{
    border-color: yellow;
}

.toast--warning .toast__icon{
    color: yellow;
}

