@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=fallback);*,::before,::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

::before,::after {
    --tw-content: ''
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-feature-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,samp,pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

button,[type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,ul,menu {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,[role="button"] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

[type="text"],[type="email"],[type="url"],[type="password"],[type="number"],[type="date"],[type="datetime-local"],[type="month"],[type="search"],[type="tel"],[type="time"],[type="week"],[multiple],textarea,select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000
}

[type="text"]:focus,[type="email"]:focus,[type="url"]:focus,[type="password"]:focus,[type="number"]:focus,[type="date"]:focus,[type="datetime-local"]:focus,[type="month"]:focus,[type="search"]:focus,[type="tel"]:focus,[type="time"]:focus,[type="week"]:focus,[multiple]:focus,textarea:focus,select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    border-color: #2563eb
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
}

input::placeholder,textarea::placeholder {
    color: #6b7280;
    opacity: 1
}

::-webkit-datetime-edit-fields-wrapper {
    padding: 0
}

::-webkit-date-and-time-value {
    min-height: 1.5em
}

::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0
}

select {
    background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 20\ 20\'%3e%3cpath\ stroke=\'%236b7280\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'1.5\'\ d=\'M6\ 8l4\ 4\ 4-4\'/%3e%3c/svg%3e);
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact
}

[multiple] {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    padding-right: 0.75rem;
    -webkit-print-color-adjust: unset;
    color-adjust: unset
}

[type="checkbox"],[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000
}

[type="checkbox"] {
    border-radius: 0px
}

[type="radio"] {
    border-radius: 100%
}

[type="checkbox"]:focus,[type="radio"]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow)
}

[type="checkbox"]:checked,[type="radio"]:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

[type="checkbox"]:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath\ d=\'M12.207\ 4.793a1\ 1\ 0\ 010\ 1.414l-5\ 5a1\ 1\ 0\ 01-1.414\ 0l-2-2a1\ 1\ 0\ 011.414-1.414L6.5\ 9.086l4.293-4.293a1\ 1\ 0\ 011.414\ 0z\'/%3e%3c/svg%3e)
}

[type="radio"]:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3ccircle\ cx=\'8\'\ cy=\'8\'\ r=\'3\'/%3e%3c/svg%3e)
}

[type="checkbox"]:checked:hover,[type="checkbox"]:checked:focus,[type="radio"]:checked:hover,[type="radio"]:checked:focus {
    border-color: transparent;
    background-color: currentColor
}

[type="checkbox"]:indeterminate {
    background-image: url(data:image/svg+xml,%3csvg\ xmlns=\'http://www.w3.org/2000/svg\'\ fill=\'none\'\ viewBox=\'0\ 0\ 16\ 16\'%3e%3cpath\ stroke=\'white\'\ stroke-linecap=\'round\'\ stroke-linejoin=\'round\'\ stroke-width=\'2\'\ d=\'M4\ 8h8\'/%3e%3c/svg%3e);
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

[type="checkbox"]:indeterminate:hover,[type="checkbox"]:indeterminate:focus {
    border-color: transparent;
    background-color: currentColor
}

[type="file"] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit
}

[type="file"]:focus {
    outline: 1px auto -webkit-focus-ring-color
}

*,::before,::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.cszzd {
    width: 100%
}

@media (min-width: 640px) {
    .cszzd {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .cszzd {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .cszzd {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .cszzd {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .cszzd {
        max-width:1536px
    }
}

.ce57l {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.01em;
    font-weight: 700
}

.ckq6n {
    font-size: 2.25rem;
    line-height: 1.277;
    letter-spacing: -0.01em;
    font-weight: 700
}

.cwqej {
    font-size: 1.875rem;
    line-height: 1.333;
    letter-spacing: -0.01em;
    font-weight: 700
}

.cyccg {
    font-size: 1.5rem;
    line-height: 1.415;
    letter-spacing: -0.01em;
    font-weight: 700
}

@media (min-width: 768px) {
    .ce57l {
        font-size:3.75rem;
        line-height: 1;
        letter-spacing: -0.01em
    }

    .ckq6n {
        font-size: 3rem;
        line-height: 1;
        letter-spacing: -0.01em
    }
}

.cz1ma,.cp4mw {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 9999px;
    font-size: 0.875rem;
    line-height: 1.5715;
    font-weight: 500;
    line-height: 1.25rem;
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}

.cz1ma {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem
}

.cp4mw {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none
}

.cesz6,.c9y1p,.c01s1,.cdebk,.czxgi,.cgxby {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(51 65 85/var(--tw-border-opacity));
    background-color: transparent;
    background-image: linear-gradient(to top right,var(--tw-gradient-stops));
    --tw-gradient-from: rgb(30 41 59 / 0.2);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgb(30 41 59 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), rgb(30 41 59 / 0.5), var(--tw-gradient-to);
    --tw-gradient-to: rgb(30 41 59 / 0.2)
}

.cesz6:focus,.c9y1p:focus,.c01s1:focus,.cdebk:focus,.czxgi:focus,.cgxby:focus {
    --tw-border-opacity: 1;
    border-color: rgb(71 85 105/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59/var(--tw-bg-opacity))
}

.cesz6,.c9y1p,.c01s1,.cdebk,.czxgi {
    border-radius: 0.25rem
}

.cesz6,.c9y1p,.c01s1,.cdebk {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.5715
}

.cesz6::-moz-placeholder,.c9y1p::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(71 85 105/var(--tw-placeholder-opacity))
}

.cesz6::placeholder,.c9y1p::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(71 85 105/var(--tw-placeholder-opacity))
}

.cdebk {
    padding-right: 2.5rem
}

.czxgi,.cgxby {
    border-radius: 0.125rem;
    border-width: 2px;
    --tw-text-opacity: 1;
    color: rgb(99 102 241/var(--tw-text-opacity))
}

.cxrjk::-webkit-scrollbar {
    display: none
}

.cxrjk {
    -ms-overflow-style: none;
    scrollbar-width: none
}

:root {
    --range-thumb-size: 36px
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ccc;
    border-radius: 3px;
    height: 6px;
    margin-top: (--range-thumb-size - 6px)*0.5;
    margin-bottom: (--range-thumb-size - 6px)*0.5;
    --thumb-size: # {
        --range-thumb-size
    }
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background-color: #000;
    background-image: url(data:image/svg+xml,%3Csvg\ width=\'12\'\ height=\'8\'\ xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath\ d=\'M8\ .5v7L12\ 4zM0\ 4l4\ 3.5v-7z\'\ fill=\'%23FFF\'\ fill-rule=\'nonzero\'/%3E%3C/svg%3E);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-moz-range-thumb {
    background-color: #000;
    background-image: url(data:image/svg+xml,%3Csvg\ width=\'12\'\ height=\'8\'\ xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath\ d=\'M8\ .5v7L12\ 4zM0\ 4l4\ 3.5v-7z\'\ fill=\'%23FFF\'\ fill-rule=\'nonzero\'/%3E%3C/svg%3E);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-ms-thumb {
    background-color: #000;
    background-image: url(data:image/svg+xml,%3Csvg\ width=\'12\'\ height=\'8\'\ xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath\ d=\'M8\ .5v7L12\ 4zM0\ 4l4\ 3.5v-7z\'\ fill=\'%23FFF\'\ fill-rule=\'nonzero\'/%3E%3C/svg%3E);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: --range-thumb-size;
    width: --range-thumb-size
}

input[type=range]::-moz-focus-outer {
    border: 0
}

.cfhk7 {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 44px
}

.cfhk7 label {
    display: block;
    height: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 9999px
}

.cfhk7 label>span:first-child {
    position: absolute;
    display: block;
    border-radius: 9999px;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    right: 50%;
    transition: all .15s ease-out
}

.cfhk7 input[type="checkbox"]:checked+label {
    --tw-bg-opacity: 1;
    background-color: rgb(99 102 241/var(--tw-bg-opacity))
}

.cfhk7 input[type="checkbox"]:checked+label>span:first-child {
    left: 22px
}

.cfhk7 input[type="checkbox"]:disabled+label {
    cursor: not-allowed;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249/var(--tw-bg-opacity))
}

.cfhk7 input[type="checkbox"]:disabled+label>span:first-child {
    --tw-bg-opacity: 1;
    background-color: rgb(148 163 184/var(--tw-bg-opacity))
}

.cesz6:focus,.c9y1p:focus,.c01s1:focus,.cdebk:focus,.czxgi:focus,.cgxby:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.ci1dv svg>*:nth-child(1),.ci1dv svg>*:nth-child(2),.ci1dv svg>*:nth-child(3) {
    transform-origin: center;
    transform: rotate(0deg)
}

.ci1dv svg>*:nth-child(1) {
    transition: y 0.1s 0.25s ease-in,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19),opacity 0.1s ease-in
}

.ci1dv svg>*:nth-child(2) {
    transition: transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19)
}

.ci1dv svg>*:nth-child(3) {
    transition: y 0.1s 0.25s ease-in,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19),width 0.1s 0.25s ease-in
}

.ci1dv.cqvny svg>*:nth-child(1) {
    opacity: 0;
    y: 11;
    transform: rotate(225deg);
    transition: y 0.1s ease-out,transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1),opacity 0.1s 0.12s ease-out
}

.ci1dv.cqvny svg>*:nth-child(2) {
    transform: rotate(225deg);
    transition: transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1)
}

.ci1dv.cqvny svg>*:nth-child(3) {
    y: 11;
    transform: rotate(135deg);
    transition: y 0.1s ease-out,transform 0.22s 0.12s cubic-bezier(0.215,0.61,0.355,1),width 0.1s ease-out
}

.cmwys {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0
}

.cqngb {
    pointer-events: none
}

.crtxj {
    visibility: visible
}

.c0lau {
    visibility: collapse
}

.csiag {
    position: absolute
}

.c0uko {
    position: relative
}

.chxzt {
    position: sticky
}

.clqlj {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}

.cvw7r {
    left: 50%
}

.csy6z {
    left: auto
}

.cigdk {
    right: 0px
}

.cgzv2 {
    right: auto
}

.ch9ca {
    top: 0px
}

.crf9y {
    top: 1.5rem
}

.corib {
    top: 100%
}

.c3sr8 {
    z-index: -10
}

.ckmvo {
    z-index: 30
}

.cqcg4 {
    order: -1
}

.ct7tm {
    margin: -1px
}

.crp30 {
    margin-left: -0.75rem;
    margin-right: -0.75rem
}

.cg3rk {
    margin-top: -0.25rem;
    margin-bottom: -0.25rem
}

.chblw {
    margin-left: 0.75rem;
    margin-right: 0.75rem
}

.cqsr5 {
    margin-left: auto;
    margin-right: auto
}

.c8amx {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.cgtbu {
    margin-left: -0px
}

.cgkrm {
    margin-left: -0.125rem
}

.chrkx {
    margin-right: -0.75rem
}

.ck3vf {
    margin-bottom: 0.25rem
}

.cnlkp {
    margin-bottom: 2.5rem
}

.cpg3l {
    margin-bottom: 3rem
}

.cyyzm {
    margin-bottom: 0.5rem
}

.cmka2 {
    margin-bottom: 0.75rem
}

.cgp1v {
    margin-bottom: 1rem
}

.cqzz1 {
    margin-bottom: 1.25rem
}

.c02n6 {
    margin-bottom: 1.5rem
}

.cjfii {
    margin-bottom: 2rem
}

.c1rkt {
    margin-left: 0.25rem
}

.cn7jp {
    margin-left: 0.5rem
}

.cw89k {
    margin-left: 0.75rem
}

.ci1xt {
    margin-right: 0.25rem
}

.coegc {
    margin-right: 0.375rem
}

.cqb2r {
    margin-right: 0.5rem
}

.c5q4u {
    margin-right: 0.75rem
}

.c0jvr {
    margin-right: 1rem
}

.cnud8 {
    margin-top: 0px
}

.c6lqj {
    margin-top: 0.25rem
}

.csnow {
    margin-top: 3rem
}

.cdavv {
    margin-top: 0.5rem
}

.cviz7 {
    margin-top: 1rem
}

.cbi0w {
    margin-top: 1.5rem
}

.cp3o5 {
    margin-top: 2rem
}

.ck1re {
    box-sizing: content-box
}

.csx82 {
    display: block
}

.cgvi5 {
    display: inline
}

.c5uxf {
    display: flex
}

.cj7ab {
    display: inline-flex
}

.cjgy0 {
    display: table
}

.csqvf {
    display: grid
}

.cx1ak {
    display: none
}

.cap35 {
    height: 3.5rem
}

.cnmwy {
    height: 4rem
}

.ckext {
    height: 6rem
}

.cclrm {
    height: 0.75rem
}

.c3kg4 {
    height: 1rem
}

.cp6g0 {
    height: 2rem
}

.cympu {
    height: 2.25rem
}

.cs4t9 {
    height: 100%
}

.c6xxj {
    max-height: 470px
}

.c8zpm {
    min-height: 100vh
}

.cm14g {
    width: 3.5rem
}

.cgv14 {
    width: 4rem
}

.c4yyg {
    width: 0.75rem
}

.cswg6 {
    width: 1rem
}

.cqo6c {
    width: 2rem
}

.cniyg {
    width: 100%
}

.cgqo8 {
    min-width: 0px
}

.ckrdo {
    max-width: 42rem
}

.cse2r {
    max-width: 56rem
}

.cotbe {
    max-width: 72rem
}

.cxnvu {
    max-width: 28rem
}

.clnw9 {
    max-width: none
}

.cmo1y {
    max-width: 24rem
}

.crqgv {
    max-width: 36rem
}

.c1emd {
    max-width: 20rem
}

.cinls {
    flex: 1 1 0%
}

.ckkn2 {
    flex: 1 1 auto
}

.c9d2g {
    flex-shrink: 0
}

.cc9uf {
    flex-grow: 1
}

.cjugn {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cb9vp {
    --tw-rotate: -1deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cxuol {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cdnir {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.c488n {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.ctj5y {
    flex-direction: column
}

.cdfxl {
    flex-wrap: wrap
}

.ct3p0 {
    align-items: flex-start
}

.cg15g {
    align-items: center
}

.caa4d {
    align-items: baseline
}

.ckout {
    justify-content: flex-end
}

.cx6lp {
    justify-content: center
}

.c3wfj {
    justify-content: space-between
}

.ckscp {
    gap: 1.25rem
}

.cndzx {
    gap: 1.5rem
}

.cqsgu {
    gap: 2rem
}

.cfsyy>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(-0.75rem*var(--tw-space-x-reverse));
    margin-left: calc(-0.75rem*calc(1 - var(--tw-space-x-reverse)))
}

.ca5nj>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
    margin-left: calc(0.5rem*calc(1 - var(--tw-space-x-reverse)))
}

.c0864>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem*var(--tw-space-x-reverse));
    margin-left: calc(1rem*calc(1 - var(--tw-space-x-reverse)))
}

.chlja>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem*var(--tw-space-x-reverse));
    margin-left: calc(1.5rem*calc(1 - var(--tw-space-x-reverse)))
}

.c8gep>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem*var(--tw-space-y-reverse))
}

.csxgm>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem*var(--tw-space-y-reverse))
}

.c49ys>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem*var(--tw-space-y-reverse))
}

.cnyph>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem*calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem*var(--tw-space-y-reverse))
}

.ce4v3>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px*calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px*var(--tw-divide-y-reverse))
}

.cfhw0 {
    overflow: hidden
}

.ckj6i {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.co27a {
    white-space: nowrap
}

.cec07 {
    border-radius: 0.25rem
}

.c9tvh {
    border-radius: 9999px
}

.c7baa {
    border-radius: 0.375rem
}

.cgvj8 {
    border-width: 1px
}

.cufvw {
    border-width: 0px
}

.cb9wi {
    border-width: 2px
}

.capik {
    border-bottom-width: 1px
}

.c93wz {
    border-bottom-width: 2px
}

.c9hzv {
    border-left-width: 2px
}

.cyca1 {
    border-top-width: 1px
}

.clgil {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity))
}

.c18gl {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.c4b6l {
    --tw-border-opacity: 1;
    border-color: rgb(71 85 105/var(--tw-border-opacity))
}

.cvinr {
    --tw-border-opacity: 1;
    border-color: rgb(51 65 85/var(--tw-border-opacity))
}

.chdu3 {
    --tw-border-opacity: 1;
    border-color: rgb(30 41 59/var(--tw-border-opacity))
}

.cpde7 {
    --tw-border-opacity: 1;
    border-color: rgb(15 23 42/var(--tw-border-opacity))
}

.ctyma {
    border-color: transparent
}

.cf81b {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.cewko {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.ck65l {
    --tw-bg-opacity: 1;
    background-color: rgb(99 102 241/var(--tw-bg-opacity))
}

.c5bsm {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity))
}

.ck4li {
    --tw-bg-opacity: 0.6
}

.cumjg {
    background-image: linear-gradient(to top,var(--tw-gradient-stops))
}

.cxw9w {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))
}

.cwnb8 {
    --tw-gradient-from: #6366f1;
    --tw-gradient-to: rgb(99 102 241 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c09hl {
    --tw-gradient-from: #1e293b;
    --tw-gradient-to: rgb(30 41 59 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.chpwp {
    --tw-gradient-from: rgb(30 41 59 / 0.2);
    --tw-gradient-to: rgb(30 41 59 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.c7e14 {
    --tw-gradient-to: rgb(125 211 252 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), #7dd3fc, var(--tw-gradient-to)
}

.cf3ch {
    --tw-gradient-to: rgb(30 41 59 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), rgb(30 41 59 / 0.5), var(--tw-gradient-to)
}

.cr2cv {
    --tw-gradient-to: #e2e8f0
}

.c37ex {
    --tw-gradient-to: rgb(30 41 59 / 0.2)
}

.cean8 {
    -webkit-background-clip: text;
    background-clip: text
}

.c6d5d {
    fill: currentColor
}

.c43fj {
    fill: #818cf8
}

.cu5ik {
    fill: #6366f1
}

.cfi76 {
    fill: #475569
}

.ccxgn {
    padding: 1.25rem
}

.cigfx {
    padding-left: 0px;
    padding-right: 0px
}

.c0cyg {
    padding-left: 0.125rem;
    padding-right: 0.125rem
}

.c0y9n {
    padding-left: 0.25rem;
    padding-right: 0.25rem
}

.cc208 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}

.c6cyz {
    padding-left: 0.625rem;
    padding-right: 0.625rem
}

.cd7gb {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}

.cweql {
    padding-left: 1rem;
    padding-right: 1rem
}

.co3of {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.ck5z0 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.cxjaw {
    padding-top: 0px;
    padding-bottom: 0px
}

.c10o4 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem
}

.c557i {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}

.czu8g {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem
}

.c79kr {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.chx2r {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

.cef8g {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}

.c5w7j {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.cs41y {
    padding-bottom: 3rem
}

.c1tqw {
    padding-bottom: 1.5rem
}

.cbtqc {
    padding-bottom: 2rem
}

.cwf6h {
    padding-left: 2.5rem
}

.cat6u {
    padding-left: 0.75rem
}

.cr8jo {
    padding-left: 1rem
}

.cxi7i {
    padding-right: 2.5rem
}

.cqlj1 {
    padding-top: 7rem
}

.c704m {
    padding-top: 8rem
}

.cw7gj {
    padding-top: 1rem
}

.cyfhr {
    padding-top: 1.5rem
}

.cg7zi {
    text-align: left
}

.c8m8l {
    text-align: center
}

.cmm7i {
    text-align: right
}

.ccbgj {
    font-family: Aspekta,sans-serif
}

.cofmt {
    font-family: Inter,sans-serif
}

.ch5jh {
    font-size: 1.5rem;
    line-height: 1.415;
    letter-spacing: -0.01em
}

.cx15t {
    font-size: 1.875rem;
    line-height: 1.333;
    letter-spacing: -0.01em
}

.cdivr {
    font-size: 2.25rem;
    line-height: 1.277;
    letter-spacing: -0.01em
}

.cavo3 {
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.01em
}

.cmnuk {
    font-size: 0.875rem;
    line-height: 1.5715
}

.clmvk {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: -0.01em
}

.ccc0n {
    font-size: 0.75rem;
    line-height: 1.5
}

.ctvp1 {
    font-weight: 700
}

.c6bh0 {
    font-weight: 500
}

.c92f2 {
    font-weight: 600
}

.ce2z8 {
    text-transform: uppercase
}

.coq3d {
    font-style: italic
}

.clvx8 {
    letter-spacing: 0
}

.crgu2 {
    letter-spacing: -0.01em
}

.cc8u6 {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.c9t87 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.clest {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity))
}

.c3zf9 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81/var(--tw-text-opacity))
}

.c2fa3 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.cejt1 {
    --tw-text-opacity: 1;
    color: rgb(99 102 241/var(--tw-text-opacity))
}

.cbu5u {
    --tw-text-opacity: 1;
    color: rgb(79 70 229/var(--tw-text-opacity))
}

.crxw9 {
    --tw-text-opacity: 1;
    color: rgb(226 232 240/var(--tw-text-opacity))
}

.cgm02 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity))
}

.cmkbe {
    --tw-text-opacity: 1;
    color: rgb(100 116 139/var(--tw-text-opacity))
}

.cv360 {
    --tw-text-opacity: 1;
    color: rgb(71 85 105/var(--tw-text-opacity))
}

.cmhxa {
    --tw-text-opacity: 1;
    color: rgb(20 184 166/var(--tw-text-opacity))
}

.cjvhn {
    color: transparent
}

.ce60u {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.coqvt {
    text-decoration-line: underline
}

.cnzqg {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cofsw {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.cgoy0 {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.ctlm4 {
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms
}

.cpefv {
    transition-duration: 150ms
}

.cnsvb {
    transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}

[x-cloak=""] {
    display: none
}

.ci5ca::-moz-placeholder {
    font-style: italic
}

.ci5ca::placeholder {
    font-style: italic
}

.cwkvf::before {
    content: var(--tw-content);
    position: absolute
}

.cazey::before {
    content: var(--tw-content);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}

.cp5zy::before {
    content: var(--tw-content);
    background-image: linear-gradient(to top,var(--tw-gradient-stops))
}

.cnyco::before {
    content: var(--tw-content);
    --tw-gradient-from: #334155;
    --tw-gradient-to: rgb(51 65 85 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.csrr6::before {
    content: var(--tw-content);
    --tw-gradient-to: #1e293b
}

.c7hzc::after {
    content: var(--tw-content);
    position: absolute
}

.c9chq::after {
    content: var(--tw-content);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}

.cvfdf::after {
    content: var(--tw-content);
    margin: 1px
}

.c0oy9::after {
    content: var(--tw-content);
    flex: 1 1 0%
}

.c6o98::after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity))
}

.chfhu:nth-child(odd) {
    --tw-rotate: 1deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cyalx:nth-child(even) {
    --tw-rotate: -1deg;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cfs3l:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229/var(--tw-bg-opacity))
}

.cbyji:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59/var(--tw-bg-opacity))
}

.ciojy:hover {
    --tw-text-opacity: 1;
    color: rgb(129 140 248/var(--tw-text-opacity))
}

.ce0ap:hover {
    --tw-text-opacity: 1;
    color: rgb(226 232 240/var(--tw-text-opacity))
}

.cjnwp:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.cgmu0:hover {
    text-decoration-line: none
}

.cnuae:focus {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0/var(--tw-border-opacity))
}

.chvj8:focus {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.cfjso:focus {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128/var(--tw-border-opacity))
}

.c9hs8:focus {
    --tw-border-opacity: 1;
    border-color: rgb(165 180 252/var(--tw-border-opacity))
}

.c77nw:focus {
    border-color: transparent
}

.cebdi:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.cmrqd:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.c8z00:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.c81ab:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.cv31t:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000)
}

.ccmr4:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity))
}

.clzl6:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity))
}

.c8prh:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity))
}

.c9voi:focus {
    --tw-ring-opacity: 0.5
}

.csiuv:focus {
    --tw-ring-offset-width: 0px
}

.cvs43:focus {
    --tw-ring-offset-width: 2px
}

@supports (overflow: clip) {
    .c3sbg {
        overflow:clip
    }
}

@media (min-width: 640px) {
    .c0bxk {
        display:flex
    }

    .csd7w {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .cjsol>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1.25rem*var(--tw-space-x-reverse));
        margin-left: calc(1.25rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .c4ndu>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px*calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px*var(--tw-space-y-reverse))
    }

    .cyf6z {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

@media (min-width: 768px) {
    .ckr9y {
        position:absolute
    }

    .ctjmt {
        left: 42rem
    }

    .cschr {
        top: 50%
    }

    .crh6h {
        order: 1
    }

    .c7tag {
        margin-bottom: 0px
    }

    .c1ypv {
        margin-left: 1rem
    }

    .cn5u6 {
        margin-left: 1.5rem
    }

    .cdbec {
        margin-top: 0px
    }

    .c8qoh {
        display: flex
    }

    .cgiwh {
        height: 5rem
    }

    .ccsp8 {
        width: 16rem
    }

    .ckdr4 {
        width: 48rem
    }

    .c6zcp {
        max-width: 56rem
    }

    .cr83q {
        max-width: none
    }

    .cajqc {
        flex-shrink: 0
    }

    .c3ahs {
        flex-grow: 1
    }

    .c0zp8 {
        --tw-translate-y: -50%;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .cr4mp {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .ckftv {
        grid-template-columns: repeat(3,minmax(0,1fr))
    }

    .c0jxy {
        flex-direction: row
    }

    .cl51c {
        align-items: center
    }

    .cnl8d {
        justify-content: space-between
    }

    .c915n>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1.25rem*var(--tw-space-x-reverse));
        margin-left: calc(1.25rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .clc8r>:not([hidden])~:not([hidden]) {
        --tw-divide-x-reverse: 0;
        border-right-width: calc(1px*var(--tw-divide-x-reverse));
        border-left-width: calc(1px*calc(1 - var(--tw-divide-x-reverse)))
    }

    .ctzxw>:not([hidden])~:not([hidden]) {
        --tw-divide-opacity: 1;
        border-color: rgb(30 41 59/var(--tw-divide-opacity))
    }

    .c1d05 {
        padding-bottom: 4rem
    }

    .crc1c {
        padding-bottom: 5rem
    }

    .c6i2n {
        padding-left: 1.5rem
    }

    .cw4e2 {
        padding-right: 8rem
    }

    .caoxh {
        padding-right: 1.5rem
    }

    .c20ag {
        padding-top: 9rem
    }

    .c84if {
        padding-top: 10rem
    }

    .cttjl {
        text-align: left
    }
}

@media (min-width: 1024px) {
    .cvokx {
        left:48rem
    }

    .cq65p {
        display: flex
    }

    .c8l3f {
        width: 20rem
    }

    .css0i {
        flex-direction: row
    }

    .cof72>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1.5rem*var(--tw-space-x-reverse));
        margin-left: calc(1.5rem*calc(1 - var(--tw-space-x-reverse)))
    }

    .csicb>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px*calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px*var(--tw-space-y-reverse))
    }

    .crsga {
        padding-left: 1.25rem;
        padding-right: 1.25rem
    }

    .cxr9s {
        padding-left: 2.5rem
    }

    .ccqhz {
        padding-right: 2.5rem
    }

    .c5dim {
        padding-right: 5rem
    }
}

.c61mk:nth-child(-n+4) {
    order: -1
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
